axisem-1.3/
.vscode/
__pycache__/
.ipynb_checkpoints/
.Trash-0/
*.h5
*.npy
instaseis-SBI/notebooks/data
instaseis-SBI/scripts/data
instaseis-SBI/scripts/paper/data
.DS_store
*tfevents*
*.pkl
*.ckpt
lightning_logs/
noise_catalogue/
noise_catalogue_2/
paper/
*.xml
*.pkl
*.log
*.png
*.ipynb
*.yaml
*.dat
data/
final_plots/
